<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/xacro" name="diablo">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="use_tower" default="false" />
  
  <xacro:property name="sim_env" value="$(arg sim_env)" />
  <xacro:property name="ctrl_mode" value="$(arg ctrl_mode)" />
  <xacro:arg name="yaml_path" default="" />

  <xacro:include filename="$(find diablo_env_ros)/urdf/materials.xacro" />
  <xacro:include filename="$(find diablo_env_ros)/urdf/description.xacro" />
  
  <xacro:description />


  <!-- Gazebo Physics Properties -->
  <gazebo>
    <mu1>0.5</mu1>       <!-- static friction coefficient -->
    <mu2>0.3</mu2>       <!-- dynamic friction coefficient -->
  </gazebo>

  <!-- Enable Self-Collisions -->
  <gazebo reference="base_link">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_leg_1">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_leg_2">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_leg_3">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="left_leg_4">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_leg_1">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_leg_2">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_leg_3">
    <self_collide>true</self_collide>
  </gazebo>

  <gazebo reference="right_leg_4">
    <self_collide>true</self_collide>
  </gazebo>



  <!-- Gazebo Plugins and Sensors -->
  <gazebo>
    <plugin filename="gz-sim-joint-controller-system" name="gz::sim::systems::JointController">
      <joint_name>joint_left_leg_1</joint_name>
      <joint_name>joint_right_leg_1</joint_name>
      <joint_name>joint_left_leg_2</joint_name>
      <joint_name>joint_right_leg_2</joint_name>
      <joint_name>joint_left_leg_3</joint_name>
      <joint_name>joint_right_leg_3</joint_name>
      <joint_name>joint_left_leg_4</joint_name>
      <joint_name>joint_right_leg_4</joint_name>
      <use_force_commands>true</use_force_commands>
      <topic>effort_cmd</topic>
    </plugin>
    <plugin filename="gz-sim-joint-state-publisher-system" name="gz::sim::systems::JointStatePublisher">
      <topic>joint_states</topic>
      <joint_name>joint_left_leg_1</joint_name>
      <joint_name>joint_right_leg_1</joint_name>
      <joint_name>joint_left_leg_2</joint_name>
      <joint_name>joint_right_leg_2</joint_name>
      <joint_name>joint_left_leg_3</joint_name>
      <joint_name>joint_right_leg_3</joint_name>
      <joint_name>joint_left_leg_4</joint_name>
      <joint_name>joint_right_leg_4</joint_name>
    </plugin>
  </gazebo>

  <gazebo reference="imu_link">
    <sensor name="imu" type="imu">
      <always_on>1</always_on>
      <update_rate>50</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <enable_metrics>true</enable_metrics>
      <gz_frame_id>imu_link</gz_frame_id>
    </sensor>
  </gazebo>

</robot>